# Terraform
.terraform/
*.tfstate
*.tfstate.*
.crash.log
terraform.tfvars
.override.tf
.override.tf.json

# Terraform lock 
!.terraform.lock.hcl

# OS / Editor
.DS_Store
.vscode/
.idea/

# kube
.kube/
