/.terraform
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl
# Local override files
override.tf
override.tf.json
crash.log
crash.log.*
# Ignore editor files
.vscode/
.idea/
*.swp
*.swo